* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Merroweather Sans", sans-serif;
    color: #BC6FF1;
    background-color: black;
}

.title {
    max-width: 500px;
}

.wrapper{
    max-width: 1320px;
    height: 800px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
}

h1{
    font-size: 70px;
    font-weight: bold;
}
.restart{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #52057B;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover{
    background-color: #52057B;
    color: white;
}

.game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    font-size: 24px;
}

.header .player-x{
    flex:1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.header .player-o{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-x.active{
    color: #42bed7;
    border-color: #42bed7;
}

.player-o.active{
    color: #d15151;
    border-color: #d15151;
}


.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-grow: 1;
    padding: 10px;
}

.board-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;

}

.board-tile:not(:nth-child(3n)){
    border-right: 3px solid #99a6b3;
}

.board-tile:not(:nth-last-child(-n + 3)){
    border-bottom: 3px solid #99a6b3;
}

.board-tile:hover{
    background: #BC6FF1;
    transition: all 0.2s ease;
    cursor: pointer;
}

.tile-x{
    color: #42bed7;
}

.tile-o{
    color: #d15151;
}

.tile-winner span{
    color: green;
}

footer {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
}

footer a{
    text-decoration: none;
    transition: all 0.4s ease;
}

footer a:hover{
    color: #BC6FF1;
    font-size: 1.5em;
    padding-left: 10px;
}
@media only screen and (max-width: 1200px) {

    .wrapper{
        flex-direction: column;
    }

    .left{
        margin-bottom: 50px;
    
    }
}